.boxmodel{
    margin: 5px;
    padding: 10px;
    background-color: palegreen;
    border: solid 5px blueviolet;
}
h1{
    margin-top: 10px;
}
.fixed-position{
    position: relative;
    background-color: aquamarine;
    text-align: center;
    margin: 0;
    width: 1000px;
    margin: 15px;
    padding-left: -10px;

}
.relative-position{
    position: relative;
}